
@using CandidateTracker.Data
@model CandidatesViewModel

<h2>@Model.Title</h2>

<div class="well">
    <button class="btn btn-info" id="toggle-notes">Toggle Notes</button>
    <table class="table table-bordered table-striped" style="margin-top: 30px;">
        <tr>
            @if (Model.IsPending)
            {<th>View Details</th>}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th class="notes">Notes</th>
        </tr>
        @if (Model.Candidates != null)
        {
            foreach (Candidate c in Model.Candidates)
            {
                <tr>
                    @if (Model.IsPending)
                    {<td><a href="/home/viewdetails?id=@c.Id">View Details</a></td>}
                    <td>@c.FirstName</td>
                    <td>@c.LastName</td>
                    <td>@c.Email</td>
                    <td>@c.Phone</td>
                    <td class="notes">@c.Notes</td>
                </tr>

            }
        }
    </table>


</div>

@section scripts{
    <script src="~/js/candidates.js"></script>
}

